<h1> Inserir curso </h1>
    <md-input-container flex>
		<label>Nome do curso</label>
        <input ng-model="course.name" placeholder="Nome do curso" style=" width: 250px; font-size: 14px;">
    </md-input-container>
		
	<md-input-container flex>
		<label>Número de periodos</label>
        <input ng-model="course.periods" placeholder="Numero de periodos" style=" width: 50px; font-size: 14px;">
    </md-input-container>
	
	<div  layout="column" layout-align="center center" style="min-height: 140px; " ng-controller ="CourseListCtrl">
	  <md-select ng-model="course.subjects">
		  <md-option  ng-repeat="subject in subjects" value="{{subject.id}}"> {{subject.name}} </md-option>
		  

	  </md-select>
	  <md-button ng-click="selected=true">Select</md-button>
	  Fazer uma Lista dos cursos aqi, se a caso digitar errado 
	</div>	