<h1> Inserir usuário </h1>

    <md-input-container flex>
		<label>Nome do usuário</label>
        <input ng-model="user.name" placeholder="Nome do usuário" style=" width: 250px; font-size: 14px;">
    </md-input-container>
	
	<md-input-container flex>
		<label>Idade</label>
        <input ng-model="user.age" placeholder="Idade" style=" width: 50px; font-size: 14px;">
    </md-input-container>
	
	<md-input-container flex>
		<label>E-mail</label>
        <input ng-model="user.email" placeholder="E-mail" style=" width: 250px; font-size: 14px;">
    </md-input-container>
	
	<div layout="row">
		<div  layout="column" layout-align="center center" style="min-height: 140px; ">
		  Sexo.
		  <md-select ng-model="user.gender">
			<md-option value="1">Femenino</md-option>
			<md-option value="2" ng-selected="selected">Masculino</md-option>
		  </md-select>
		</div>	
		
		<div  layout="column" layout-align="center center" style="min-height: 140px; padding-left:100px">
		 Tipo de usuário
		 <md-select ng-model="user.userType">
			<md-option value="1">Administrador</md-option>
			<md-option value="2" ng-selected="selected">Usuário</md-option>
		  </md-select>
		</div>	
	</div>
	
	<md-button> SAVE </md-button>