<h1> Inserir usuário </h1>
	<form name="formUser" novalidate id="formUser">
	 <md-input-container flex class="maxL" >
        <label>Nome do usuário</label>
        <input required name="userName" md-maxlength="35" ng-model="user.name" style="width: 250px; font-size: 14px;">
        <div ng-messages="formUser.userName.$error">
          <div ng-message="required">Campo obrigatório.</div>
          <div ng-message="md-maxlength">O tamanho máximo para nome é de 35 character</div>
        </div>
      </md-input-container>
      
	  <div layout="row" layout-align="space-between center">
 	
	  <md-input-container flex>
        <label>Senha</label>
        <input required type="password" md-maxlength="20" name="userPassword" ng-model="user.password" style="width: 250px; font-size: 14px;">
        <div ng-messages="formUser.userPassword.$error">
          <div ng-message="required">Campo obrigatório.</div>
          <div ng-message="md-maxLength">O tamanho máximo é de 20 character.</div>
        </div>
       
      </md-input-container>     
      <md-input-container flex>
        <label>Idade</label>
        <input required type="number" min="0" max="99" integer name="userAge" ng-model="user.age" style="width: 50px; font-size: 14px;">
        <div ng-messages="formUser.userAge.$error">
          <div ng-message="required">Campo obrigatório.</div>
          <div ng-show="formUser.userAge.$error.integer">Necessário um numero inteiro</div>
          <div ng-show="formUser.userAge.$error.min || form.size.$error.max">A idade minima é 0 e a maxima é 99</div>
        </div>
      </md-input-container>     	
   
      </div>
      
	  <md-input-container flex class="maxL">
        <label>E-mail</label>
        <input required type="email" name="userEmail" md-maxlength="50" ng-model="user.email" style="width: 250px; font-size: 14px;">
        <div ng-messages="formUser.userEmail.$error">
          <div  ng-message="required">Campo obrigatório.</div>
          <div ng-message="md-maxLength">O tamanho máximo para o email é de 50 character</div>
        </div>
      </md-input-container>    
	
	<div layout="row">
		<div  layout="column" layout-align="center center" style="min-height: 140px; ">
		  Sexo.
		  <md-select required ng-model="user.gender" name="userGender">
			<md-option value="Feminino">Femenino</md-option>
			<md-option value="Masculino" ng-selected="selected">Masculino</md-option>
		  </md-select>
		  <div ng-messages=formUser.userGender.$error>
			 <div ng-message="required">Campo obrigatório. </div>
		  </div>
		</div>	
		
		<div  layout="column" layout-align="center center" style="min-height: 140px; padding-left:100px">
		 Tipo de usuário
		 <md-select required ng-model="user.userType" name="userType">
			<md-option value="Administrador">Administrador</md-option>
			<md-option value="Usuario" ng-selected="selected">Usuário</md-option>
		  </md-select>
		  	<div ng-messages=formUser.userType.$error>
				<div ng-message="required">Campo obrigatório.</div>
			</div>
		</div>	
	 </div>
	</form>
	<md-button  ng-click="salvar(user)"> SAVE </md-button>